# flyctl launch added from .gitignore
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
**\*.exe
**\*.exe~
**\*.dll
**\*.so
**\*.dylib

# Test binary, built with `go test -c`
**\*.test

# Code coverage profiles and other test artifacts
**\*.out
**\coverage.*
**\*.coverprofile
**\profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
**\go.work
**\go.work.sum

# env file
**\.env

# Editor/IDE
# .idea/
# .vscode/

**\node_modules

# flyctl launch added from codedock-test-dashboard\frontend\.gitignore
# Logs
codedock-test-dashboard\frontend\**\logs
codedock-test-dashboard\frontend\**\*.log
codedock-test-dashboard\frontend\**\npm-debug.log*
codedock-test-dashboard\frontend\**\yarn-debug.log*
codedock-test-dashboard\frontend\**\yarn-error.log*
codedock-test-dashboard\frontend\**\pnpm-debug.log*
codedock-test-dashboard\frontend\**\lerna-debug.log*

codedock-test-dashboard\frontend\**\node_modules
codedock-test-dashboard\frontend\**\dist
codedock-test-dashboard\frontend\**\dist-ssr
codedock-test-dashboard\frontend\**\*.local

# Editor directories and files
codedock-test-dashboard\frontend\**\.vscode\*
!codedock-test-dashboard\frontend\**\.vscode\extensions.json
codedock-test-dashboard\frontend\**\.idea
codedock-test-dashboard\frontend\**\.DS_Store
codedock-test-dashboard\frontend\**\*.suo
codedock-test-dashboard\frontend\**\*.ntvs*
codedock-test-dashboard\frontend\**\*.njsproj
codedock-test-dashboard\frontend\**\*.sln
codedock-test-dashboard\frontend\**\*.sw?

# flyctl launch added from extension\.gitignore
extension\**\node_modules
extension\**\out
extension\**\*.vsix

fly.toml
